#nav {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  @media (max-width: 640px) {
    flex-direction: column;
  }
  a {
    padding: 1rem 1.5rem 1rem 1rem;
    margin: 0.5rem;
    background: #eee;
    color: #2c3e50;
    border-radius: 10px;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 640px) {
      width: calc(100% - 60px);
    }
    &.active {
      background: #3ea3bf;
      color: #fff;
      svg { fill: #fff; }
    }
    svg {
      width: 25px;
      margin-right: 0.5rem;
      outline: none;
      fill: #2c3e50;
    }
  }
}
