.app-footer {
  padding: 3em 0;
  margin-top: auto;
  a {
    align-items: center;
    color: #000;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    text-decoration: none;
    @media (max-width: 640px) {
      font-size: .7em;
    }
  }
  svg { margin: 0 .5em; }
}
