@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.app {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #2c3e50;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
}

.slide-title, h3 {
  align-items: center;
  display: flex;
  justify-content: center;
}

.slide-title svg, h3 svg {
  margin-right: .5em;
}

.slide-title {
  border-top: 3px dashed #ccc;
  color: #61DAFB;
  font-size: 2em;
  margin: 2em 0;
  padding-top: 2em;
}
.slide-title svg { fill: #61DAFB; }
.favela h1 { font-family: 'Great Vibes', cursive; }
.favela img { filter: saturate(2) brightness(1.2); }

@media (max-width: 640px) {
  .slide-title { font-size: 1em; }
}

