.slide-item {
  opacity: 0;
  transition: 0.3s;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-item.actived {
  opacity: 1;
  z-index: 1;
}
.slide-item.actived h1 {
  animation: 3s opacityDelay;
}
.slide-item a {
  text-decoration: none;
  color: #000;
}
.slide-item img,
.slide-item a {
  min-width: 100%;
}
.slide-item h1 {
  position: absolute;
  left: 50%;
  top: 2em;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.7);
  padding: 0.5em;
  font-size: 2em;
  margin: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

@media (min-width: 640px) {
  .slide-item h1 {
    top: 50%;
    font-size: 3em;
  }
}

@-moz-keyframes opacityDelay {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes opacityDelay {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes opacityDelay {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes opacityDelay {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
