@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.App-logo { pointer-events: none; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo { animation: App-logo-spin infinite 20s linear; }
}

.app {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #2c3e50;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  margin-top: 60px;
  text-align: center;
}

.app h1 { font-size: 3em; }

.slide-title, h3 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.slide-title svg,
h3 svg {
  margin-right: .5em;
}

.slide-title {
  border-top: 3px dashed #ccc;
  color: #61DAFB;
  font-size: 2em;
  margin: 2em 0;
  padding-top: 2em;
}
.slide-title svg { fill: #61DAFB; }
.favela h1 { font-family: 'Great Vibes', cursive; }
.favela img { filter: saturate(2) brightness(1.2); }

#nav {
  display: flex;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

#nav a {
  padding: 1rem;
  margin: 1rem;
  background: #eee;
  color: #2c3e50;
  border-radius: 10px;
  text-decoration: none;
  width: 100%;
}
#nav a.active {
  background: #3ea3bf;
  color: #fff;
}

@media (max-width: 640px) {
  .app h1 { font-size: 2em; }
  .slide-title { font-size: 1em; }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg);   }
  to   { transform: rotate(360deg); }
}
